.square {
  width: 95%;
  background-color: rgb(220, 217, 217);
  padding: 2rem;
}

.container {
  background-color: rgb(0, 13, 87);
  width: 100%;
  height: auto;
}

.mid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  margin-left: 10px;
}

.square a{
  margin: 0rem 1rem 1rem 0.5rem;
      text-decoration: none;
      color: rgb(255, 0, 0);
      font-size: 1.5rem;
      font-weight: 800;
}

div.likeCount{
  margin-left: 1.5rem;
  display: inline;
}

div.commentCount{
  margin-left: 3.5rem;
  display: inline;
}